{% extends "base-menu.html" %}
{% block main %}
<style>
    .table-responsive{
    }
    .h5, h5 {
    font-size: 1rem;
}
</style>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width:90%;">
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'create_documents' %}">
                <div class="card text-white bg-info mb-3" style="max-width: 15rem; margin-right: 1rem;">
                    <div class="card-body" style="display: flex;">
                        <div>
                            <h5 class="card-title">Cadastrar Documento</h5>
                        </div>
                        <div>
                            <img src="/media/add-documents.png" height="50" width="50">
                        </div>
                    </div>
                </div>
            </a>
            <a href="{% url 'create_pessoa' %}">
                <div class="card text-white bg-danger mb-3" style="max-width: 15rem; margin-right: 1rem;">
                    <div class="card-body" style="display: flex;">
                        <div>
                            <h5 class="card-title">Cadastrar Pessoa</h5>
                        </div>
                        <div>
                            <img src="/media/add-user.png" height="50" width="50">
                        </div>
                    </div>
                </div>
            </a>
       
        <a href="{% url 'create_departamentos' %}">
            <div class="card text-white bg-warning mb-3" style="max-width: 15rem;">
                <div class="card-body" style="display: flex;">
                    <div>
                        <h5 class="card-title">Cadastrar Departamento</h5>
                    </div>
                    <div>
                        <img src="/media/add-documents.png" height="50" width="50">
                    </div>
                </div>
            </div>
        </a>
    </div>

    </div>
</div>
<h2>Últimas Inserções</h2>
<div class="table-responsive">
        <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descricao</th>
                        <th>Arquivo</th>
                        <th>Usuario</th>
                        <th>Data</th>
                        <th>Privado</th>
    
                    </tr>
                </thead>
                {% for doc in documentos %}
                <tbody>
                    <tr>
                        <td>{{ doc.nome }}</td>
                        <td>{{ doc.descricao }}</td>
                        <td>{{ doc.arquivo }}</td>
                        <td>{{ doc.pessoa_usuario }}</td>
                        <td>{{ doc.data_cadastro }}</td>
                        <td>{{ doc.documento_privado }}</td>

                    </tr>
                </tbody>
        {% endfor %}
    </table>
</div>
{% endblock main %}