{% extends "base.html" %}
{% block main %}

<div class="container">
    <div class="text-center py-5">
        <h2>{{ documento.nome }}</h2>
        <p class="lead">{{ documento.descricao }}</p>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8 order-md-1">
            <h4 class="mb-3">Detalhes do Documento</h4>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <label for="firstName">Nome</label>
                        <input type="text" class="form-control" disabled id="firstName" placeholder="" value="{{ documento.nome }}"
                            required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Arquivo</label>
                        <div class="input-group mb-3">
                            <input type="text" value="{{ documento.arquivo.url }}" disabled class="form-control" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a class="btn btn-outline-secondary" download href="{{ documento.arquivo.url }}">Baixar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Descritivo</label>
                    <input disabled type="text" value="{{ documento.descricao }}" class="form-control" id="username" required>
                </div>

                <div class="mb-3 row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Criado por</label>
                        <input type="email" value="{{ documento.pessoa_dono }}" class="form-control" id="email" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email">Atribuido para</label>
                        <input type="email" value="{{ documento.pessoa_usuario }}" class="form-control" id="email" disabled>
                    </div>
                </div>

                <div class="mb3 row">
                    <!-- <div class="col-4">
                        <div class="card">
                            <img class="card-img-top"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16a6bb3e4d3%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16a6bb3e4d3%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.2390625%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Anexo 01</h5>
                                <a href="#" class="btn btn-primary btn-block">Baixar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16a6bb3e4d3%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16a6bb3e4d3%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.2390625%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Anexo 01</h5>
                                <a href="#" class="btn btn-primary btn-block">Baixar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16a6bb3e4d3%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16a6bb3e4d3%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.2390625%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Anexo 01</h5>
                                <a href="#" class="btn btn-primary btn-block">Baixar</a>
                            </div>
                        </div>
                    </div> -->
                </div>

                <hr class="mb-4">
                <a href="{% url 'list_documento' %}" class="btn btn-primary btn-lg btn-block" type="submit">Voltar</a>
            </form>
        </div>
    </div>
</div>
{% endblock main %}