{% extends "base.html" %}

{% block main %}
<div class="album py-5 bg-light">
    <div class="container">

      ''  <div class="row">
            {% for doc in documentos %}
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="thumbfile">
                        {% if doc.isPDF %}
                        <img src="/media/images/pdf.png" height="50" alt="">
                        {% elif doc.isIMG %}
                        <img src="/media/images/image.png" height="50" alt="">
                        {% else %}
                        <img src="/media/images/document.png" height="50" alt="">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-0">{{ doc.nome }}</p>
                        <p style="font-size: 14px">{{ doc.descricao | slice:":25" }}...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://localhost:8000/detalhes/{{ doc.id }}" class="btn btn-sm btn-outline-secondary">Visualizar</a>
                            </div>
                        </div>
                        <small class="text-muted">{{ doc.data_cadastro }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main %}