{% extends "base-menu.html" %}

{% block main %}

<style>
    .text-label{
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 13px;
    }
</style>
    

{% if saved %}
<div class="alert alert-success container mt-4" role="alert">
    O evento foi salvo com sucesso!
</div>
{% endif %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container mt-3 mb-3">
        {% if documento_form.errors %}
        {{ documento_form.errors }}
        {% endif %}
        <h2>Informações sobre o evento</h2>
        <hr />
        <label class="text-label">Nome</label>
        {{ documento_form.nome }}
        <label class="text-label">Descrição</label>
        {{ documento_form.descricao }}
        <div style="display: flex;">
            <div style="width: 47.5%; margin-right: 5%;">
                <label class="text-label">Referente a</label>
                {{ documento_form.pessoa_dono }}
                <a href="">ADD</a>
            </div>
            <div style="width: 47.5%;">
                <label class="text-label">Usuario</label>
                {{ documento_form.pessoa_usuario }}
                <a href="{% url 'create_pessoa' %}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        ADD
                </a> 
            </div>
        </div>

        <div  style="display: flex;">
            <div style="margin-right: 5%;">
                <label class="text-label">Referente a</label>
                {{ documento_form.arquivo }}
            </div>
            <div style="width: 30px !important;">
                <label class="text-label" style=" margin-bottom: 8px;">Privado</label>
                {{ documento_form.documento_privado }}
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>

{% endblock main %}