{% extends "base-menu.html" %}

{% block main %}

<div class="modal fade" id="funcaoModal" tabindex="-1" role="dialog" aria-labelledby="departamentoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="departamentoModalLabel">Informações sobre o Departamento</h5>
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="container mt-3 mb-3">
                        {% if departamento_form.errors %}
                        {{ departamento_form.errors }}
                        {% endif %}
                        <h2>Informações sobre o Departamento</h2>
                        <hr />
                        {{departamento_form.nome}}
                        <hr />
                        <button type="submit" class="btn btn-primary">Salvar</button>
                </form>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
</div>


<style>
    .text-label {
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 13px;
    }
</style>


{% if saved %}
<div class="alert alert-success container mt-4" role="alert">
    O evento foi salvo com sucesso!
</div>
{% endif %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="container mt-3 mb-3">
        {% if pessoa_form.errors %}
            {{ pessoa_form.errors }}
        {% endif %}
        <h2>Informações sobre o Pessoa</h2>
        
        <hr />
        <div class="row">
            <div class="col">
                <label class="text-label">Nome: </label>
                {{pessoa_form.nome}}
            </div>
            <div class="col">
                <label class="text-label">Endereço: </label>
                {{pessoa_form.endereco}}
            </div>
            <div class="col">
                <label class="text-label">Telefone: </label>
                {{pessoa_form.telefone}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="text-label">Departamento: </label>
                {{pessoa_form.departamento}}
            </div>
            <div class="col">
                <label class="text-label">Função: </label>
                {{pessoa_form.funcao}}
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Salvar</button>
                {% if pessoas %}
                <a href="{% url 'delete_pessoa' pessoa.id %}"
                    onclick="return confirm('Deseja Remover {{ pessoa.nome }}')"><button type="button"
                        class="btn btn-outline-danger">Excluir</button></a>
                {% endif %}
            </div>
        </div>
    </form>
</div>


{% endblock main %}